<div class="container">
    <div class="jumbotron">
        <h1 class="display-6">Professores</h1>
        <p class="lead-1">Cadastro de um novo Professor</p>
        <hr class="my-2">
        
        <div class="col-12">
            <label for="iNome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="iNome" placeholder="Nome do Professor" [(ngModel)]="nomeProfessor">
          </div>
            <div class="col-md-4">
              <label for="iData" class="form-label">Data de Cadastro</label>
              <input type="date" class="form-control" id="iData" [(ngModel)]="dtCadastro">

            </div>
            <div class="col-md-2" style="margin-bottom:15px;">
                <label for="iSituacao" class="form-label">Situação</label>
                <select id="iSituacao" [(ngModel)]="stAtivo" class="form-select">
                    <option [ngValue] = true selected>Ativo</option>
                    <option [ngValue] = false >Inativo</option>
                  </select>
            </div>
            <div class="d-grid gap-2 d-md-flex">
                <button class="btn btn-outline-primary me-md-2 btn-sm" type="button" (click)="save()" type="button">Confirmar</button>
                <a routerLink="/professores" class="btn btn-outline-secondary">Cancelar</a>
              </div>
      </div>
      <div class="col-md-7 .d-flex d-inline-flex align-items-baseline" style="margin-top: 20px;">
        <div class="input-group mb-3" >
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Gerar Professores Automaticamente</span>
          </div>
          <input
            type="Number"
            class="form-control"
            placeholder="Quantidade"
            id="qtProfessores"
            [(ngModel)] = "qtProfessores"
          />
        </div>
        <a style="margin-left: 20px; padding: 7px 30px;" class="btn btn-success btn-sm" (click)="getProfessoresAuto()">Gerar</a>
      </div>

</div>